body {
    background-color: gray;
}

.centered {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    width: 100vw;
    height: 100vh;
  }

canvas {
    background-color: black
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }