body {
    background-color: gray;
}

.centered {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    width: 100vw;
    height: 100vh;
  }

canvas {
    background-color: black
}